body{
  background-color: #00060d;
}
html, body {
    margin:0;
    padding:0;
}
.flexContainer {
  display: column;
  flex-direction: row;
  margin: auto;
}
div.halfbox{
  width: 100%; 
}
br{
  user-select: none;
}

h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
}
h4{
  color: white;
}
h5{
  color: white;
}
h6{
  color: white;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 85%;
}
.flexContainerPerm {
  display: flex;
  flex-direction: row;
  margin: auto;
}

@media (min-width: 700px) {
  div.halfbox{
    width: 50%; 
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}